/* Cards */
.container-cards {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 39px;
  }
  
  .card {
    background-color: #55703f;
    color: #ffffff;
    border-radius: 7px;
    text-align: center;
    width: 220px;
    height: auto;
    transition: 0.3s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding: 15px;
  }
  
  .card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .tituloCard {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .textoCard {
    font-size: 18px;
    color: #ffffffc5;
    margin-top: 10px;
  }
  /* Fim dos cards */