h2 {
    font-size: 24px;
    color: #405A41;
    margin: 20px 20px 20px 315px;
    text-align: start;
    font-weight: bold;
    text-transform: uppercase;
  }

.accordion {
    margin: auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif; 
    background-color: #55703f;
    margin-bottom: 50px; 
   }
  
  .accordion__label,
  .accordion__content {
    padding: 14px 20px;
  } 
  
  .accordion__label {
    display: block;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
  } 
  
  .accordion__label:hover {
    background: rgba(0, 0, 0, 0.1);
  } 
  
  .accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
  }
  
  .accordion__content {
    background: #ffffff;
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
    text-align: justify;
  }
  
  .accordion__input {
    display: none;
  }
  
  .accordion__input:checked ~ .accordion__content {
    display: block;
  }
  
  .accordion__input:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
  }
  
  .heroFAQ{
    font-size: 24px;
    color: #1c0212;
    margin: 20px 305px 25px 315px;
    text-align: justify;
  }
  
  /* Sobre Nós */
  .heroSobre {
    padding: 40px;
  }
  
  .team {
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 20px;
    width: 800px;
  }
  
  .member {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .left {
    flex-direction: row;
  }
  
  .right {
    justify-content: flex-end;
  }
  
  .member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 20px;
  }
  
  .info {
    flex: 1;
  }
  
  .team h3 {
    margin: 10px 0;
  }
  
  .team p {
    margin-bottom: 10px;
  }