/* Estilo geral da página*/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Corpo */
body {
  background-image: url('./assets/index.png');
  background-size: cover;
  background-position: top center; /* Garante que a imagem de fundo fique alinhada */
  background-repeat: no-repeat;
  background-attachment: scroll; /* Faz como que a imagem de fundo role junto com a tela */
  height: 100vh;
}

/* Navbar */
.menu_navegacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin-right: 40px;
}

.menu_navegacao a {
  text-decoration: none;
  font-weight: bold;
  margin: 0 6px;
}

.menu_item {
  color: #356037;
}

.logoHeader {
  margin-left: 70px;
}

#btnContact {
  font-size: 14px;
  width: 129px;
  height: 32.53px;
  color: #ffffff;
  background-color: #356037;
  border-radius: 8px;
  border-style: none;
  font-weight: medium;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  line-height: 32.53px;
}

#btnContact:hover {
  background-color: #2a4f2d;
}
/* Fim da navbar */

/* Conteúdo principal do index*/

.painelCentral {
  /*Textos da página principal*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  margin: 40px 80px 50px 80px;
}

.painelCentral h1 {
  /* Adiciona um espaçamento entre o texto principal e o sub-texto */
  margin-bottom: 15px;
}

.pontoProximo {
  /* Texto principal */
  font-size: 44px;
  color: #435533;
}

.encontrarPontos {
  /*sub-texto */
  font-size: 26px;
  color: #405a41;
  opacity: 0.6;
}

.btnPainel {
  /* Botões de busca*/
  width: 155px;
  height: 45px;
  border-radius: 9px;
  background-color: #55703f;
  color: #ffffff;
  border-style: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  margin: 0px 0px 15px 20px;
  cursor: pointer;
}

.btnPrincipais {
  /* Container onde estão os botões de busca */
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  margin: 0px 80px 0px 60px;
}

/* Cards */
.container-cards {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 39px;
}

.card {
  background-color: #55703f;
  color: #ffffff;
  border-radius: 7px;
  text-align: center;
  width: 220px;
  height: auto;
  transition: 0.3s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  padding: 15px;
}

.card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.tituloCard {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.textoCard {
  font-size: 18px;
  color: #ffffffc5;
  margin-top: 10px;
}
/* Fim dos cards */

/* Sugestão de ponto na pag index*/
.naoRegistrado {
  font-size: 26px;
  color: #435533;
  margin-bottom: 10px;
}

.sugerir {
  font-size: 18px;
  color: #405a41;
  opacity: 0.6;
  text-decoration: underline;
  margin-bottom: 45px;
  cursor: pointer;
}

.sugerir a {
  color: #405a41;
  text-decoration: underline;
}

.sugerir a:visited {
  color: #405a41;
}

.containerSugerir {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Fim da sugestão de ponto na pag index*/
/* Fim do conteúdo principal do index*/

/* Footer */

.footer-content {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #55703f;
  padding: 30px;
}

footer p {
  font-size: 14px;
  margin: 0 0 10px 0;
}

.linhaFooter {
  border: none;
  border-top: 1px solid #fff;
  margin: 10px 0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linksUteis {
  font-size: 14px;
  display: flex;
  gap: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.linksUteis a {
  color: white;
  text-decoration: none;
}

.linksUteis a:hover {
  text-decoration: underline;
}

.redes_sociais {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

/* Fim do footer */

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #ffffff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  max-width: 90%;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-content label {
  /* textos do modal */
  font-size: 15px;
  color: #000000;
}

.modal-content input[type="text"], /* campo de input tipo texto (cep, email, etc) */
  .modal-content select {
  width: 100%;
  height: 40px;
  padding: 0.65em;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modal-content h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #405a41;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
}

.modal-content button[type="submit"] {
  width: 150px;
  height: 45px;
  color: #ffffff;
  background-color: #405a41;
  text-align: center;
  border-radius: 8px;
  box-shadow: none;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  border: none;
}

.modal-content button[type="submit"]:hover {
  background-color: #2a4f2d;
}

.close {
  /* botão de fechar */
  color: #aaa;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close:hover {
  color: black;
}

.dropdown {
  /* Dropdown do tipo de material */
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

.dropdown-btn {
  /* texto de "selecione tipo de material"*/
  width: 100%;
  height: 40px;
  padding: 0.65em;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: left;
}

.dropdown-content {
  /* itens do dropdown */
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.dropdown-content label {
  /* Texto dos itens do dropdown */
  display: block;
  margin-bottom: 10px;
}

.dropdown-content label:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content input[type="checkbox"] {
  margin-right: 10px;
}

.radio-label {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.modal-content input[type="radio"] {
  margin-right: -2px;
  width: 19px;
  height: 19px;
  vertical-align: middle;
}

textarea {
  /* campo para descrição */
  width: calc(100% - 12px);
  padding: 0.65em;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Fim do modal */


