/* Título das páginas */
h2 {
    font-size: 24px;
    color: #405A41;
    margin: 20px 20px 20px 315px;
    text-align: start;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  /* PAGINAS DE LOGIN E CADASTRO */
  /* Forms */
  form {
    margin: auto;
    width: 600px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  fieldset {
    margin: 20px;
    border: none;
    padding: 0;
  }
  
  .tipo-usuario { /* Radio button que define se é cadastro de pessoa física, empresa ou ONG */
    display: flex;
    margin-bottom: 1.3em;
  }
  
  label { /* textos dos forms de cadastro e login */
    display: flex;
    align-items: start;
    margin-right: 18px;
    font-size: 17px;
    color: #000000;
  }
  
  input[type="radio"] { /* estilo dos radio buttons */
    margin-right: 2px;
    width: 19px;
    height: 19px;
    vertical-align: middle;
  }
  
  input[type="email"] {
    width: calc(100% - 12px);
    height: 50px;
    padding: .65em;
    border-radius: 5px;
    margin-bottom: 1.3em;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .senha-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.3em;
  }
  
  .senha-item {
    width: calc(50% - 10px);
  }
  
  .senha-item input {
    width: 100%;
    height: 50px;
    padding: .65em;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .senha-item label {
    margin-bottom: .5em;
  }
  
  .container-btn {
    display: flex;
    justify-content: flex-end;
  }
  
  .btnCadastrar {
    align-items: end;
    width: 150px;
    height: 45px;
    color: #ffffff;
    background-color: #405a41;
    text-align: center;
    border-radius: 8px;
    box-shadow: none;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    border: none;
  }
  
  .btnCadastrar:hover {
    background-color: #2a4f2d;
  }
  
  p {
    font-size: 22px;
    color: #9a9999;
    margin-bottom: 0.4em;
  }
  
  #empresaFields select { /* Tudo o que tem #empresa, é porque está ligado com os campos que só aparecem quando o radio button de empresa está selecionado, essa programação já está pronta no javascript */
    width: 100%;
    height: 50px;
    margin-bottom: 1.3em;
    padding: 0.65em;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  #empresaFields input[type="checkbox"] {
    margin-right: 10px;
  }
  
  #empresaFields label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 17px;
  }
  
  #empresaFields input[type="text"],
  #empresaFields input[type="tel"] {
    width: calc(100% - 12px);
    height: 50px;
    padding: .65em;
    border-radius: 5px;
    margin-bottom: 1.3em;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .dropdown { /* dropdown do tipo de material */
    position: relative;
    display: none;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .dropbtn {
    width: 100%;
    height: 50px;
    padding: 0.65em;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: left;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .dropdown-content label {
    display: block;
    margin-bottom: 20px;
  }
  
  .dropdown-content input[type="checkbox"] {
    margin-right: 10px;
  
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  #empresaFields label[for="descricao"],
  #ongFields label[for="descricaoOng"] {
    margin-top: 20px;
  }
  
  textarea {
    width: calc(100% - 12px);
    padding: 0.65em;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1.3em;
    resize: vertical;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .tipo-servico { /* Radio buttons que definem o tipo de serviço (se faz retirada e etc). */
    display: flex;
    margin-bottom: 1.3em;
  }
  
  .tipo-servico label {
    display: flex;
    align-items: center;
    margin-right: 18px;
    font-size: 17px;
    color: #000000;
  }
  
  .tipo-servico input[type="radio"] {
    margin-right: 0px;
    width: 19px;
    height: 19px;
    vertical-align: middle;
  }
  
  #ongFields {
    margin-top: 20px;
  }
  
  #ongFields label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 17px;
  }
  
  #ongFields input[type="text"],
  #ongFields input[type="tel"],
  #ongFields select,
  #ongFields textarea {
    width: calc(100% - 12px);
    height: 50px;
    padding: .65em;
    border-radius: 5px;
    margin-bottom: 1.3em;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  #ongFields textarea {
    height: auto;
    resize: vertical;
  }
  
  .login-redirect {
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .login-redirect a {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.5);
  }
  /* Fim do forms de cadastro */
  
  /* Forms de login */
  #formLogin label {
    display: flex;
    align-items: start;
    margin-right: 18px;
    font-size: 17px;
    color: #000000;
    margin-bottom: 2px;
  }
  
  #formLogin input[type="email"],
  #formLogin input[type="password"] {
    width: calc(100% - 12px);
    height: 50px;
    padding: .65em;
    border-radius: 5px;
    margin-bottom: 1.3em;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .esqueci-senha {
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .esqueci-senha:hover {
    text-decoration: underline;
  }
  
  .cadastro-redirect { /* Link caso a pessoa não tenha cadastro */
    text-align: start;
    margin-bottom: 20px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .cadastro-redirect a {
    color: rgba(0, 0, 0, 0.5);
  }
  
  .cadastro-redirect a:visited {
    color: rgba(0, 0, 0, 0.5);
  }
  
  .cadastro-redirect a:hover {
    text-decoration: underline;
  }
  
  .btnEntrar {
    align-items: end;
    width: 150px;
    height: 45px;
    color: #ffffff;
    background-color: #405a41;
    text-align: center;
    border-radius: 8px;
    box-shadow: none;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    border: none;
  }
  
  .btnEntrar:hover {
    background-color: #2a4f2d;
  }
  /* Fim do form de login */
  

  /* Pagina de resultado de busca */
  .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .search-bar input {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .collection-points {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 50%;
    margin: 0 auto;
    /* Espaçamento entre os cards e a barra de rolagem */
    padding-right: 50px;
    margin-bottom: 15px;
  }
  
  .card-info { /* Cada espaço branco contendo informações dos pontos de coleta são cardss */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #tituloCard {
    color: #405A41;
    font-size: 16px;
    font-weight: bold;
  }
  
  .tags { /* Tipos de materiais */
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .tags span {
    background-color: #4A7856;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .card a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    font-size: 16px;
  }
  
  .link { /* link de como chegar e entre em contato */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
  .link a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  
  
  .btnSaibaMais {
    width: 115px;
    height: 35px;
    border-radius: 9px;
    background-color: #55703f;
    color: #ffffff;
    border-style: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    margin-left: auto;
  
  }
  
  .btnSaibaMais:hover {
    background-color: #2a4f2d;
  }
  
  .link img { /* Simbolos do maps e telefone */
    width: 15px;
    height: 15px;
    margin-right: 0px;
  }
  
  #enderecoCard {
    font-size: 14px;
  }
  
  .cadastrar {
    font-size: 14px;
    color: #405a41;
    opacity: 0.6;
    margin-bottom: 45px;
    cursor: pointer;
  }
  
  .cadastrar a {
    color: #405a41;
    text-decoration: underline;
  }
  
  .cadastrar a:visited {
    color: #405a41;
  }
  
  .cadastrar a:hover {
    color: #3b4d39;
  }
  
  .containerCadastrar {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: auto;
  }
  
  /* MODAL DO BOTÃO SAIBA MAIS */
  .modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    z-index: 1000; /* Garante que o modal fique acima de outros elementos */
    display: flex; /* Necessário para centralizar o conteúdo */
  }
  
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* Para dispositivos menores */
    max-width: 500px; /* Tamanho máximo para telas maiores */
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Permite posicionar o botão de fechar dentro do conteúdo */
    text-align: left
  }
  
  .modal h2 {
    font-size: 18px; /* Aumenta o tamanho da fonte */
    margin-bottom: 20px;
    color: #364a33; /* Cor para combinar com o design */
    text-align: left
  }
  
  .modal p {
    font-size: 14px; /* Tamanho de fonte para o texto */
    color: #666;
    margin-bottom: 20px;
    text-align: left
  }
  
  .modal .tags {
    display: flex;
    flex-wrap: wrap; /* Permite que as tags quebrem para a próxima linha */
    gap: 10px;
    margin-bottom: 20px; /* Espaçamento entre tags e conteúdo abaixo */
    text-align: left;
    justify-content: flex-start;
  }
  
  .modal .tags span {
    background-color: transparent;
    border: 2px solid #4A7856;
    color: #4A7856;
    padding: 8px 12px; /* Aumenta o padding para dar mais espaço */
    border-radius: 20px; /* Bordas mais arredondadas */
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transições suaves para hover */
  }
  
  .modal .tags span:hover {
    background-color: #4A7856;
    color: white; /* Inverte as cores no hover */
  }
  
  .close {
    position: absolute; /* Posiciona o botão dentro do modal */
    top: 10px;
    right: 20px;
    font-size: 24px;
    color: #aaa;
    cursor: pointer;
  }
  
  .close:hover, .close:focus {
    color: #000;
  }
  
  /* FAQ */ 
  .accordion {
    margin: auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif; 
    background-color: #55703f;
    margin-bottom: 50px; 
   }
  
  .accordion__label,
  .accordion__content {
    padding: 14px 20px;
  } 
  
  .accordion__label {
    display: block;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
  } 
  
  .accordion__label:hover {
    background: rgba(0, 0, 0, 0.1);
  } 
  
  .accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
  }
  
  .accordion__content {
    background: #ffffff;
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
    text-align: justify;
  }
  
  .accordion__input {
    display: none;
  }
  
  .accordion__input:checked ~ .accordion__content {
    display: block;
  }
  
  .accordion__input:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
  }
  
  .heroFAQ{
    font-size: 24px;
    color: #1c0212;
    margin: 20px 305px 25px 315px;
    text-align: justify;
  }
  
  /* Sobre Nós */
  .heroSobre {
    padding: 40px;
  }
  
  .team {
    display: flex;
    margin: auto;
    flex-direction: column;
    gap: 20px;
    width: 800px;
  }
  
  .member {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .left {
    flex-direction: row;
  }
  
  .right {
    justify-content: flex-end;
  }
  
  .member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 20px;
  }
  
  .info {
    flex: 1;
  }
  
  .team h3 {
    margin: 10px 0;
  }
  
  .team p {
    margin-bottom: 10px;
  }